<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>密码修改</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {#    <link rel="stylesheet" type="text/css" href="css/build.css">#}

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function validate() {
            var pwd1 = document.getElementById("pwd").value;
            var pwd2 = document.getElementById("pwd1").value;

            <!-- 对比两次输入的密码 -->
            if (pwd1 == pwd2) {
                document.getElementById("tips").innerHTML = "<font color='green'>验证通过</font>";
                document.getElementById("button").disabled = false;
            } else {
                document.getElementById("tips").innerHTML = "<font color='red'>两次密码不相同</font>";
                document.getElementById("button").disabled = true;
            }
        }
    </script>

</head>
<body>

<div class="container-fluid">
    {% include 'studentbase.html' %}
    <div class="col-sm-3 col-md-1 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/login/student_center/">我的资料</a></li>
            <li role="presentation" class="active"><a href="/login/alter_password/">账号安全</a></li>
            {#            <li role="presentation"><a href="#">Messages</a></li>#}
        </ul>
    </div>


    <div class="col-md-3">
        <img src="/static/media/{{ student.pic }}" alt="" width="150" height="150"><br><br>

    </div>
    <div class="col-md-6">
        <h2>密码修改</h2><br/><br/><br/>
        <form action="/login/alter_password/" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if message %}
                    <div class="alert-warning">{{ message }}</div>
                {% endif %}
                <label class="col-sm-2 control-label font">原密码：</label>
                <input type="hidden" name="my_pwd" id="my_pwd" value="{{ student.password }}">
                <div class="col-xs-10">
                    <input type="password" class="form-control bt" name="pwd0" placeholder="请输入原密码">
                </div>
            </div>

            <br/><br/><br/>
            <div class="form-group">
                <label class="col-sm-2 control-label font">新密码：</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control bt" name="pwd" id="pwd" placeholder="请设置登录密码">
                </div>
            </div>
            <br/><br/><br/>

            <div class="form-group">
                <label class="col-sm-2 control-label font">确认密码：</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control bt" name="pwd" id="pwd1" placeholder="请再次填写密码"
                           onkeyup="validate()">
                    <span id="tips"></span>
                    <br/><br/>
                    <input type="submit" class="button" disabled="disabled" id="button" value="提交">
                </div>
            </div>
            <br/><br/>

        </form>


    </div>


</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>