<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>我的资料</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {#    <link rel="stylesheet" type="text/css" href="css/build.css">#}

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

    </script>

</head>
<body>

<div class="container-fluid">
    {% include 'studentbase.html' %}
    <div class="col-sm-3 col-md-1 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="/login/student_center/">我的资料</a></li>
            <li role="presentation"><a href="/login/alter_password/">账号安全</a></li>
            {#            <li role="presentation"><a href="#">Messages</a></li>#}
        </ul>
    </div>


    <div class="col-md-3">
        <img src="/static/media/{{ student.pic }}" alt="" width="150" height="150"><br><br>
        <form action="/login/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            新头像：
            <input type="file" name="picture"><br>
            <input type="submit" value="上传">

        </form>
        {% if message %}
            <div class="alert-warning">{{ message }}</div>
        {% endif %}

    </div>
    <div class="col-md-5">
        <table class="table table-bordered">


            <tbody>
            <tr>
                <th>我的学号</th>
                <td>{{ student.stu_Id }}</td>
            </tr>
            <tr>
                <th>我的姓名</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>我的专业</th>
                <td>{{ student.stu_major }}</td>
            </tr>
            <tr>
                <th>我的班级</th>
                <td>{{ student.stu_class }}</td>
            </tr>
            <tr>
                <th>我的老师</th>
                <td>{{ teacher.name }}</td>
            </tr>

            </tbody>


        </table>

    </div>


</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>