<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ><a href="/exercise/test_situation/">考试情况 <span
                class="sr-only">(current)</span></a></li>
        <li><a href="/exercise/compose_test" >出卷组题</a></li>
{#        <li><a href="https://v3.bootcss.com/examples/dashboard/#">试题批改</a></li>#}
        <li><a href="/exercise/set_rules">出题规则</a></li>

    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="https://v3.bootcss.com/examples/dashboard/">论坛</a></li>
        <li><a href="https://v3.bootcss.com/examples/dashboard/">我的留言</a></li>
        {#            <li><a href="https://v3.bootcss.com/examples/dashboard/">One more nav</a></li>#}
        {#            <li><a href="https://v3.bootcss.com/examples/dashboard/">Another nav item</a></li>#}
        {#            <li><a href="https://v3.bootcss.com/examples/dashboard/">More navigation</a></li>#}
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/exercise/question_bank">题库审阅</a></li>
        <li><a href="/exercise/choice_upload">选择题导入</a></li>
        <li><a href="/exercise/fillin_upload">填空题导入</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/exercise/all_student">学生信息查询</a></li>
        <li><a href="/exercise/choice_upload">学生信息导入</a></li>
{#        <li><a href="/exercise/fillin_upload">填空题导入</a></li>#}
    </ul>
</div>